In [111]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [112]:
# loadid the Liver disease dataset to a Panda dataframe

liver_data=pd.read_csv('../dataset/indian_liver_patient.csv')

In [113]:
liver_data.head(5)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [114]:
liver_data.tail(5)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [115]:
liver_data.shape

(583, 11)

In [116]:
liver_data = liver_data.replace(['Male'], '1')
liver_data = liver_data.replace(['Female'], '0')

In [117]:
liver_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [118]:
liver_data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [119]:
liver_data.dropna(axis=0,inplace=True)

In [120]:
liver_data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

In [121]:
liver_data.describe()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,579.000000,579.000000,579.000000,579.000000,579.000000,579.000000,579.000000,579.000000,579.000000,579.000000
mean,44.782383,3.315371,1.494128,291.366149,81.126079,110.414508,6.481693,3.138515,0.947064,1.284974
std,16.221786,6.227716,2.816499,243.561863,183.182845,289.850034,1.084641,0.794435,0.319592,0.451792
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,2.600000,1.300000,298.000000,61.000000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [122]:
# checking the distribution of the target variable
liver_data['Dataset'].value_counts()

1    414
2    165
Name: Dataset, dtype: int64

In [123]:
X=liver_data.drop(columns='Dataset',axis=1)
Y=liver_data['Dataset']

In [124]:
print(X)

     Age Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0     65      0              0.7               0.1                   187
1     62      1             10.9               5.5                   699
2     62      1              7.3               4.1                   490
3     58      1              1.0               0.4                   182
4     72      1              3.9               2.0                   195
..   ...    ...              ...               ...                   ...
578   60      1              0.5               0.1                   500
579   40      1              0.6               0.1                    98
580   52      1              0.8               0.2                   245
581   31      1              1.3               0.5                   184
582   38      1              1.0               0.3                   216

     Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
0                          16                          18             6.8
1                          64                         100             7.5
2                          60                          68             7.0
3                          14                          20             6.8
4                          27                          59             7.3
..                        ...                         ...             ...
578                        20                          34             5.9
579                        35                          31             6.0
580                        48                          49             6.4
581                        29                          32             6.8
582                        21                          24             7.3

     Albumin  Albumin_and_Globulin_Ratio
0        3.3                        0.90
1        3.2                        0.74
2        3.3                        0.89
3        3.4                        1.00
4        2.4                        0.40
..       ...                         ...
578      1.6                        0.37
579      3.2                        1.10
580      3.2                        1.00
581      3.4                        1.00
582      4.4                        1.50

[579 rows x 10 columns]

In [125]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
578    2
579    1
580    1
581    1
582    2
Name: Dataset, Length: 579, dtype: int64

In [126]:
#splitting the data into training data and test data.

X_train,X_test,Y_train,Y_test= train_test_split(X, Y, test_size=0.2, stratify=Y,random_state=2)

In [127]:
print(X.shape,X_train.shape,X_test.shape)

(579, 10) (463, 10) (116, 10)

#model Training- Logistic Regression Model

In [128]:
model= LogisticRegression(solver='lbfgs', max_iter=1000)

In [129]:
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

# Model Evaluation

In [130]:
#accuracy on the training data
X_train_prediction=model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction,Y_train)

In [131]:
print("Accuracy on training data :",training_data_accuracy)

Accuracy on training data : 0.7257019438444925

In [132]:
#accuracy on the test data
X_test_prediction=model.predict(X_test)
testing_data_accuracy= accuracy_score(X_test_prediction,Y_test)

In [133]:
print("Accuracy on test data :",testing_data_accuracy)

Accuracy on test data : 0.7672413793103449

# Building a predictive system

In [134]:
input_data=(17,1,0.9,0.3,202,22,19,7.4,4.1,1.2)
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshape=input_data_as_numpy_array.reshape(1,-1)
prediction=model.predict(input_data_reshape)
print(prediction)

[2]

/Users/jubitjohn/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [135]:
if(prediction[0]==1):
    print("The person has liver disease")
else:
    print("The person does not have liver disease")

The person does not have liver disease

# Saving the model

In [136]:
import pickle

In [139]:
filename='liver_model.sav'
pickle.dump(model, open(filename,'wb'))

In [140]:
#loading the save model
loaded_model=pickle.load(open('liver_model.sav','rb'))